@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DisketBold";
    src: url("../font/Disket-Mono-Bold.ttf");
}
@font-face {
    font-family: "DisketRegular";
    src: url("../font/Disket-Mono-Regular.ttf");
}
